h1{
    color: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Pemanggilan Class */
.kotak{
    padding: 15px;
    width: 200px;
    color: darkgray;
    margin-left: 15%;
    background: darkred;
    /* background: -moz-linear-gradient(to right, #D35400 0, #F4D03F 25%, #A93226 100%); */
}

/* Pemanggilan ID */
#kotak{
    width: 400px;
    color: goldenrod;
    background: rgb(243, 242, 242);
    padding: 50px;

}