.judul{
    color: white;
    text-align: center;
    font-family: Segoe UI;
    background-color: rgb(19, 100, 250);
    margin-right: 0em;
}
p{
    font-family: sans-serif;
    font-size: 15px; 
}
.part4,.part5{
    font-family: Segoe UI;
    text-align: center;
}
h3{
    font-family: Segoe UI;
}
