body{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal{
    background: #eeeded;
    height: auto;   
    width: 33%;
    margin-left: 30%;
    margin-top: 5%;
    padding: 50px;
}

input, select{
    margin-top: 20px;
    /* padding-bottom: 40px; */
    width: 100%;
    height: 30px;
    border: none;
    border-bottom:  solid 1px rgba(0,0,0,.1); 
}

td{
    align-items: center;
    font-weight: bold;
}

#jns{
    width: 50px;
    text-align: center;
}

.masuk{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 30px;
    border: none;
    background: rgb(82, 233, 36);
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.masuk:hover{
    background:  rgb(0, 109, 0);
    cursor: pointer;
}